[submodule "projects/localnet/repository"]
	path = projects/localnet/repository
	url = https://github.com/High-Desert-Institute/LocalNet
[submodule "projects/openzine/repository"]
	path = projects/openzine/repository
	url = https://github.com/High-Desert-Institute/OpenZineProject.org
[submodule "projects/pubsub/repository"]
	path = projects/pubsub/repository
	url = https://github.com/High-Desert-Institute/pubsub
[submodule "projects/meshtastic-llm/repository"]
	path = projects/meshtastic-llm/repository
	url = https://github.com/High-Desert-Institute/Meshtastic-LLM
[submodule "projects/librarian/repository"]
	path = projects/librarian/repository
	url = https://github.com/High-Desert-Institute/Librarian
[submodule "projects/cyberpony-express-bbs/repository"]
	path = projects/cyberpony-express-bbs/repository
	url = https://github.com/High-Desert-Institute/cyberpony-express-bbs
[submodule "projects/all-seeing-eye/repository"]
	path = projects/all-seeing-eye/repository
	url = https://github.com/cjtrowbridge/All-Seeing-Eye
[submodule "projects/hacking-weather-satellite-uplink/repository"]
	path = projects/hacking-weather-satellite-uplink/repository
	url = https://github.com/cjtrowbridge/DIY-Weather-Satellite-Uplink
