<!-- _includes/footer.html -->
<hr>
<footer>
  <h2 id="get-involved">Support The Projects</h2>
  <ul>
    <li><a href="https://www.gofundme.com/f/build-a-foundation-for-the-survival-of-humanity">Help Us Buy Land via GoFundMe</a></li>
    <li><a href="https://www.gofundme.com/f/cyberpony-express-free-and-offgrid-communications">Donate to The Cyberpony Express</a></li>
  </ul>
  
  <h2 id="get-involved">Get Involved</h2>
  <ul>
    <li><a href="https://highdesertinstitute.substack.com">Subscribe on Substack</a> for free email updates</li>
    <li><a href="https://shop.highdesertinstitute.org/">Buy stickers and other merch at our shop!</a></li>
    <li><a href="https://www.tiktok.com/@highdesertinstitute.org">Follow us on TikTok</a></li>
    <li><a href="https://www.youtube.com/@HighDesertInstitute">Follow us on Youtube</a></li>
    <li><a href="https://bsky.app/profile/highdesertinstitute.org">Follow us on Bluesky</a></li>
    {% assign edit_repo = "https://github.com/High-Desert-Institute/HighDesertInstitute.org" %}
    {% assign edit_branch = "main" %}
    {% assign edit_path = page.path | default: 'index.md' %}
    {% assign is_project_page = page.layout == 'project' %}

    {% if is_project_page %}
      <li><span class="text-muted">See project documentation for more details about how to contribute.</span></li>
    {% else %}
      <li><a href="{{ edit_repo }}/blob/{{ edit_branch }}/{{ edit_path }}">Edit this page on GitHub</a></li>
    {% endif %}
  </ul>
</footer>
