<!-- _includes/footer.html -->
<hr>
<footer>
  <h2 id="get-involved">Support The Projects</h2>
  <ul>
    <li><a href="https://gofundme.com">Help Us Buy Land via GoFundMe</a></li>
    <li><a href="https://www.gofundme.com">Donate to The Cyberpony Express</a></li>
  </ul>
  
  <h2 id="get-involved">Get Involved</h2>
  <ul>
    <li><a href="https://highdesertinstitute.substack.com">Subscribe on Substack</a> for free email updates</li>
    <li><a href="https://www.tiktok.com/@highdesertinstitute">Follow us on TikTok</a></li>
    <li><a href="https://www.youtube.com/@HighDesertInstitute">Follow us on Youtube</a></li>
    <li><a href="https://bsky.app/profile/highdesertinstitute.org">Follow us on Bluesky</a></li>
    <li><a href="https://github.com/High-Desert-Institute/HighDesertInstitute.org/blob/main/index.md">Edit this page on Github</a></li>
  </ul>
  <p>
    <a href="https://github.com/High-Desert-Institute/HighDesertInstitute.org/blob/main/{{ page.path }}">
      Edit this page on GitHub
    </a>
  </p>
</footer>
